<app-header></app-header>
      <div class="options-container">
        <div class="create-container">
          <h1>Create A New Company</h1>
            <creation-modal *ngIf="admin" [creationObject]="addCompany" (addedData)="addData($event)"></creation-modal>
        </div>
        <div class="view-option-container">
          <h1>View Current Companies</h1>
          <button class="btn btn-lg btn-outline-primary" (click)="showContent()">View</button>
        </div>
      </div>
      
        
        <div class="objects-view-container" *ngIf="show">
        <div *ngFor="let company of companies">
            <div class="object-container">
                <label class="object-labels"><strong>Name:</strong> {{ company.name }} </label>
                <label class="object-labels"><strong>Status:</strong> {{ company.status }} </label>
                <div class="update-modal-container">
                    <update-modal *ngIf="admin" [updateObject]="company" (updated)="updtData($event)"></update-modal>
                </div>
            </div>
        </div>
        </div>
        <br>
        <app-footer></app-footer>