<ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <!-- You will want to change this label later on but for now it can stay as-is -->
                    <label>Are you sure you want to delete this object?</label>
                    <div class="input-group">
                        <div class="input-group-append">
                            
                            <!-- <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button"></button> -->
                        </div>
                    </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-sm" (click)="[deleteObject(delObject), modal.close('Save click')]">Yes, delete</button>
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
        </div>
      </ng-template>
      
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Delete</button>
      
<hr>