header {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(18, 46, 77);
    border: 2px solid black;
}

.home-nav {
    width: 100%;
    box-sizing: border-box;
    margin: 0 2em, 0, 2em;
}

.home-btn {
    margin: 1em 1em;
}

.logo {
    color: white;
    margin-top: 1em;
}

.logout-btn {
    margin-top: 1em;
    margin-right: -1em;
}


.nav-container {
    margin-left: 14em;
    width: 75%;
}

.nav-ul {
    margin-top: 3em;
    margin-bottom: 0em;
    display: block;
    list-style: none;
    width: 90%;
}

.nav-btn {
    display: inline-block;
    margin: 0 .5em;
    margin-bottom: 2em;
}