/* You can add global styles to this file, and also import other style files */

html { height: 100%; }

body { 
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('./assets/clouds-sky-background.jpg');
    background-position: fixed;
    background-repeat: no-repeat;
 }

 .main-container {
     min-height: 100vh;
     position: relative;
     overflow: hidden;
     display: block;
     padding-bottom: 3em;
 }

 .page-headers {
    color: rgb(56, 55, 55);
    text-shadow: 2px 2px white;
 }


/* Object Component Styling */
.options-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgb(56, 55, 55);
    text-shadow: 2px 2px white;
}

.create-container {
    margin-top: 1em;
    margin-left: 2em;
}

.view-option-container {
    margin-top: 1em;
}

.objects-view-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    height: auto;
    margin: 1em 2em;
    color: white;
    text-shadow: 1px 1px black;
    letter-spacing: 1px;
}

.object-container {
    height: auto;
    width: 40em;
    border: 1px solid white;
    background-color: rgb(18,46,77);
    padding: 1em 1em;
}

.object-labels {
    display: block;
    margin-left: .5em;
}

.update-modal-container {
    margin-left: .5em;
}

/* Styles for Creation Components */
.creation-form-container {
    margin: 2em 1em;
    width: 100%;
    height: auto;
    display: grid;
    justify-items: left;
}

.creation-header {
    margin: 1em 1em;
}

.creation-form {
    margin-left: 3em;
    width: 40%;
    background-color: white;
    padding: 1em 1em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
